/* PHILOSOPHY */
/* Let your main text size be decided by the browser or the user settings */

body {
	margin: auto;
	padding: 1rem;
	max-width: 65ch;
	color: 
	background: antiquewhite;
}

main {
	font-size: 1.125rem;
}

h1 {
	font-weight: 500;
	margin-bottom: 2.5rem;
	line-height: 1;
}

p {
	line-height: 1.65;
	hyphens: auto;
}

ul {
	padding-left: 1.25rem;
}

li {
	margin-bottom: 1.25rem;
}

hr {
	margin-top: 2.75rem;
	margin-bottom: 1.25rem;
}

a {
	color: inherit;
	text-underline-offset: .2rem;
	text-decoration-thickness: 0.05rem;
}

img {
	max-width: 100%;
}

footer {
	margin-top: 4.5rem;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #1C1D1F;
		color: moccasin;
	}
	img {
    opacity: .85;
  }
}