html {
    font: 1.25rem sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

/* More readable links */
@supports (text-underline-offset: 0.15em) {
    a:link, a:visited {
      text-decoration-thickness: 0.1em;
      text-underline-offset: 0.15em;
    }
}

@supports (text-underline-offset: 0.15em) {
    a:hover, a:focus {
      text-decoration-thickness: 0.2em;
      text-underline-offset: 0.15em;
    }
}

img {
    max-inline-size: 100%;
    block-size: auto;
}